<div class="animated fadeIn">
    <h2>About</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus incidunt officiis cumque nihil quas ipsam obcaecati sint quia fugit dolore qui minima iste at doloremque possimus corrupti laborum veniam, dicta molestias reprehenderit ut consequuntur
        totam dignissimos. Quisquam, autem consectetur fuga deserunt architecto pariatur impedit? Sed laborum animi voluptatem vitae omnis magni est eius veritatis aliquid officiis amet, dolorum fugit eveniet cum aspernatur labore eligendi, veniam accusamus?
        Libero aut fugit sint tempore adipisci ratione? Dolorem cum maiores commodi dolore repellendus odio animi ducimus consequatur modi delectus, at quaerat, voluptatem ab, sapiente rerum corrupti? Amet laborum officiis cum quisquam corrupti ducimus.</p>
</div>