<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div *ngIf="heroes.length == 0" class="row">
    <div class="col">
        <div class="alert alert-primary">No hay resultados con el termino: {{termino}}</div>
    </div>
</div>
<div class="card-columns">
    <div *ngFor="let heroe of heroes; let i = index" class="card">
        <img [src]="heroe.img" class="card-img-top" alt="heroe.img">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <button (click)="verHeroe(heroe.id)" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
</div>